#scoreboard {
    position: absolute;
    color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
  }
  body {
    width: 100%;
    /*text-align:center;*/
    width: 800;
    height: 600;
    margin-left: 360px;
  }
  canvas {
    border: 5px solid #d3d3d3;
    background-color: #f1f1f1;
  }
  #startScreen{
    background-color: rgba(10, 110, 168, 1);
    position: absolute;
    text-align: center;
    margin-left: 250px;
    margin-top: -450px;
    width: 300px;
    height: 180px;
    border-radius: 100px;
    color: white;
  }
  #scoreText, #finalScore {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: bold;
    font-size: 30px;
  }
  #scoreText {
    margin-bottom: -20px;
    color: black;
  }
  #playbutton {
    color: black;
    border-radius: 100px;
    font-family: 'Gruppo';
    font-size: 30px;
    font-weight: bold;
    margin-top: -20px;
  }